.swiper-wrapper {
  touch-action: pan-y;
}

.swiper {
  height: 100%;
  -webkit-overflow-scrolling: touch;

  .card,
  .card-body {
    border: none;
  }
}

.swiper-slide {
  width: auto;
  height: auto;
  will-change: transform;
  transition: transform 0.8s ease;
}

.swiper-zoom-container {
  text-align: left;
}
