.swiper-wrapper {
  touch-action: pan-y;
}

.swiper {
  height: 100%;
  // -webkit-overflow-scrolling: touch;

  .card,
  .card-body {
    border: none;
  }
}

.swiper-slide {
  width: auto;
  height: auto;
  transition: transform 0.8s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.swiper-zoom-container {
  text-align: left;
}
